* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html{
  scroll-behavior: smooth;
}
.container {
  /*total container*/
  width: 100%;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
header {
  /*heading section*/
  position: sticky;
  top: 0;
  background-color: #007389;
  margin-bottom: 1px;
  border: 1px solid black;
  border-radius: 7px;
}
.header-box {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-name {
  color: black;
  width: 190px;
  height: 50px;
  margin-left: 30px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  align-items: center;
  display: flex;
  background-color: #0391ad;
}
.header-menu {
  width: 40%;
  margin: auto;
  height: 12vh;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu a {
  color: black;
  padding: 4px;
  background-color: rgba(128, 128, 128, 0.811);
  border: 2px solid #194f5a50;
}
.header-menu a:hover {
  border-bottom: 4px solid black;
}
.bars,
.cross {
  /*burger styling*/
  float: right;
  display: none;
  text-align: center;
  font-size: 25px;
  color: black;
  cursor: pointer;
  border: 2px solid gray;
  padding: 1px;
  width: 30px;
  height: 30px;
  background-color: rgb(128, 128, 128, 0.811);
  border-radius: 5px;
}

@media only screen and (max-width: 750px) {
  .header-box {
    justify-content: space-between;
  }

  .header-box ul {
    /* display: none; */
    position: fixed;
    flex-direction: column;

    background: #4f5253;
    right: -200px;
    top: 4vh;
    width: 200px;
    height: 30vh;
    padding: 8px 0px;
    z-index: 2;
    transition: right 0.5s;
  }
  .header-box ul li {
    display: block;
  }
  .bars {
    display: block;
    margin: 30px;
  }
  .cross {
    display: block;
    position: absolute;
    top: 0px;
    right: 0;
    cursor: pointer;
  }
}

.intro {
  /*styling for intro section*/
  color: white;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
.intro h1 {
  padding-top: 140px;
  padding-bottom: 20px;
  margin: 2px;
}

.intro h4 {
  padding: 5px 0px;
}
.button {
  position: relative;
  top: 20px;
  color: black;
  margin-top: 15px;
  padding: 15px;
  background-color: rgba(187, 184, 184, 0.738);
  border: 0px;
  border-radius: 5px;
  width: 150px;
  height: 35px;
  font-weight: 550;
  text-transform: uppercase;
}
.button:hover {
  border: 4px solid black;
}
.banner {
  background-image: url("./images/bg-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  margin: auto;
}
#about-sec {
  /*about section starting*/
  background-color: #002c3a;
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 1px;
  display: flex;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.title-name h4 {
  background-color:rgba(85, 79, 79, 0.971);
  width: 90%;
  margin: 30px;
  padding: 4px;
  text-align: center;
  border-bottom: 4px solid black;
  text-transform: uppercase;
  font-size: 20px;
}
.about-sec p {
  color: rgb(255, 255, 255);
  width: 80%;
  margin: 50px 50px;
  padding: 20px;
  background-color: #013544;
  border: 0.2px solid black;
}

#edu-bg {
  /*styling for education background section */
  background-color: #015973;
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 1px;
  display: flex;
  /* justify-content:space-around; */
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.edu-bg1 p {
  border: 0.2px solid black;
  margin: 30px;
  padding: 20px;
  width: 90%;
  color: white;
  display: flex;
  background-color: #013c4e;
}
#skills-sec {
  /*styling for skills scetion */
  background-color: #002c3a;
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 1px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.skills-box {
  background-color: #0a3947;
  width: 80%;
  text-align: center;
  margin: 30px;
}
.title {
  color: #fff;
  padding: 20px;
  font-size: 30px;
}
#container1,
#container2 {
  display: grid;
}

.skills-img1,
.skills-img2 {
  display: grid;
  width: 100px;
  height: 100px;
  margin: 20px;
}
#img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container1 {
  width: 47%;
  margin: 5px 5px 25px 5px;
  padding-bottom: 20px;
  background-color: #027c95;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container2 {
  width: 47%;
  margin: 5px 5px 25px 5px;
  padding-bottom: 20px;
  background-color: #027c95;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container1:hover {
  transform: translateX(5px);
}
.container2:hover {
  transform: translateX(5px);
}
#contact {
  /*styling for contact section */
  background-color: black;
  color: white;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-left {
  flex-basis: 35%;
  width: 100%;
  text-align: center;
}
.contact-title {
  font-size: 40px;
  padding: 20px;
  text-decoration: underline;
}
.contact-left p {
  margin-top: 20px;
  text-transform: lowercase;
}
.contact-left p i {
  color: white;
  margin-right: 5px;
  font-size: 15px;
}
.social-icons {
  margin-top: 10px;
}
.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: white;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover {
  transform: translateY(5px);
}
.down-btn {
  margin-top: 20px;
  text-decoration: none;
  color: white;
  background-color: red;
  font-weight: bold;
  padding: 10px;
  display: inline-block;
}
.down-btn:hover {
  background-color: darkcyan;
}
.social-icons a i {
  /* padding: 7px; */
  margin-top: 15px;
}
.contact-right {
  margin: 20px;
  flex-basis: 50%;
  width: 100%;
}
.down-btn1 {
  background-color: red;
  padding: 14px 60px;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: bold;
  border: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
}
.contact-right form{
  width: 100%;
}
form input,
form textarea {
  /*stylng for input and textarea section*/
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 10px;
  margin: 10px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
.copyrights {
  /*styling for copyrights area*/
  text-align: center;
  padding: 10px 0px;
  background-color: #027c95;
  font-weight: bold;
}

@media only screen and (max-width: 700px) {
  #about-sec,
  #edu-bg,
  #skills-sec {
    margin: auto;
    display: grid;
    justify-content: space-around;
    align-items: center;
  }
  .about-sec p {
    width: 80%;
    margin: auto;
    align-items: center;
  }
  .title-name h4 {
    margin: auto;
    margin-top: 20px;
  }
  .edu-bg1 {
    margin: auto;
    width: 80%;
    display: grid;
    align-items: center;
  }
  .box {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .contact-left {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .contact-right {
    margin: auto;
  }
  .down-btn {
    text-align: center;
    align-items: center;
  }
  .contact-right,
  form input,
  form textarea {
    display: grid;
  }
  .down-btn1 {
    margin-bottom: 20px;
    align-items: center;
  }
  .copyrights {
    font-size: 12px;
  }
}
